@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="col-9 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="row">
                            <div class="col">
                                <center>
                                    <img src="~/GeneralUser.jpg" width="100" />
                                    <h4>Member Sign Up</h4>
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <div class="form-group">
                                    <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>Last Name</label>
                                <div class="form-group">
                                    <input asp-for="Input.LastName" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>Date of Birth</label>
                                <div class="form-group">
                                    <input asp-for="Input.DOB" class="form-control" />
                                    <span asp-validation-for="Input.DOB" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label>UserName</label>
                                <div class="form-group">
                                    <input asp-for="Input.Username" class="form-control" />
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label>Password</label>
                                <div class="form-group">
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label>Confirm Password</label>
                                <div class="form-group">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label>About you</label>
                                <div class="form-group">
                                    <input asp-for="Input.Bio" class="form-control" />
                                    <span asp-validation-for="Input.Bio" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button id="regBtn" type="submit" class="btn btn-primary form-control">Register</button>
                            </div>



                        </div>
                    </div>
            </div>
        </form>
    </div>
 </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
